:root {
    --side-menu: #11ade6;
    --background: #e7f7fd;
    --primary-text-color: #095f7f;
    --input-border: #fafdff;
    --header-text: #000608;
    --body-text: #000608;
    --button-text: #e6e7e7;
    --button: #11ade6;
    --border: #93aab2;
    --input-field: #b5e6f7;
    --error: #e84c3d;
    --success: #2dcc70;
    --hover: #b0b6b6;
    --card-border: #b5e6f7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--background);
    display:flex;
    animation: fadeIn 0.9s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ==== Container styling ===*/

.signin-container {
    background-color: var(--side-menu);
    width: 90%;
    height: 96%;
    padding:40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center; 
    margin: 50px auto;
    max-width: 500px;
}
.signup-container {
    background-color: var(--side-menu);
    width: 90%;
    height: 99%;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
}

/*=== Heading ===*/

.signin-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.signup-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.signin-container p {
    margin: 0;
    font-size: 1rem;
    color: white;
}
.signup-container p {
    margin: 0;
    font-size: 1rem;
    color: white;
}
.form-container {
    width: 600px;
    min-height: 500px;
    background: var(--side-menu);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.social-icons {
    display: flex;
    justify-content:center;
    gap: 20px;
    margin: 20px 0;
}
.social-icons button {
    border:2px solid white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.social-icons .google {
    background: transparent;
    color: white;
}
.social-icons .apple {
    background: transparent;
    color:white
}
.social-icons .facebook {
    background: transparent;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}


label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--background);
    display: none;
}
/* === Input fields === */
input, select{
padding: 6px;
margin-bottom: 4px;
border: 1px solid var(--input-border);
border-radius: 50px;
font-size: 0.9rem;
width: 100%;
box-sizing: border-box;
outline: none;
background-color: var(--side-menu);
color: white;
}
input::placeholder{
    color:white;
}

.forgot-password {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}
.btn-container {
    text-align: center;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    
}

.sign-in-btn {
    background: var(--background);
    color: #12b9d1;
    padding: 10px 20px;
    border: none;
    border-radius: 500px;
    font-size: 12px;
    cursor: pointer;
    width: 30%;
}

.sign-in-btn:hover {
    background: var(--hover);
}

.signup-btn {
    background: var(--background);
    color: var(--primary-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 500px;

    font-size: 12px;
    cursor: pointer;
    width: 20%;
}

.signup-btn:hover {
    background: #357ABD;
}

.separator {
    border: none;
    border-top: 1px solid white;
    margin: 25px 0;
    width: 100%;
    opacity: 0.6;
}


.signup-link {
text-align: center;
color: white;
font-size: 14px;
}
.signin-link {
text-align: center;
color: white;
font-size: 14px;
}

.sign-up-btn {
    color: var(--primary-text-color);
    display: inline-block;
    padding: 6px 18px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 8px;
    background: white;
}
.sign-in-btn {
    color: var(--primary-text-color);
    display: inline-block;
    padding: 6px 18px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 8px;
    background: white;
}


/*--- Styling for Dashboard --*/
/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e8f7fe;
    color: #222;
    display: flex;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* Side bar */
.sidebar {
    position: relative;
    background: var(--side-menu);
    color: var(--button-text);
    width: 14.75rem;
    display: flex;
    flex-direction:column;
    padding: 30px 20px;
    border-radius: 0 15px 15px 0;
    height: 100vh;
    transform: translateX(-100%);
    animation: slideIn 1.1s ease forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.logo img {
    height: 35px;
    width: auto;
    margin-right: 8px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.logo-text {
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--background);
}

.sidebar .nav-links a,
.sidebar .sidebar-bottom a {
    display: flex;
    padding: 15px 10px;
    color: var(--button-text);
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-left: 30px;
    cursor: pointer;
    transition: background 0.3s, padding-left 0.3s;
    align-items: center;
}

.sidebar .nav-links a:hover {
    background-color : rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    border-radius: 8px;
}

.sidebar .sidebar-bottom a:hover {
    background-color : rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    border-radius: 8px;
}

.sidebar .nav-links .active{
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    border-radius: 8px;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar .sidebar-bottom {
    margin-top: auto;
}

/* Main */
.main-content {
    flex: 1;
    padding: 25px 40px;
    background: #e8f7fe;
    min-height: 100vh;
}

/* Top bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.search-container {
    display: flex;
    align-items: center;
    background: #b0b5b6;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--button);
    max-width: 150px;
    height: 40px;
    margin-left: 50px;
}
.search-container i {
    color: #666;
    margin-right: 8px;
    font-size: 0.9rem;
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.9rem;
    width: 100%;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-buttons button {
    background: var(--button);
    color: var(--button-text);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
}

.header-buttons button:hover {
    background: var(--hover);
}

.notification i {
    padding: 10px 20px;
    font-size: 1.2rem;
    background: #11ade6;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-text);
}

.notification .notification-box {
    display: none;
    position:absolute;
    right: 0;
    top: 30px;
    background: white;
    color: #333;
    border-radius: 6px;
    padding: 10px;
    width: 180px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notification:hover .notification-box {
    display: block;
}

#notification-box {
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 220px;
    display: none;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
}
#notification-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#notification-box li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
#notification-box li:last-child {
    border-bottom: none;
}

.profile {
    position: relative;
}
.profile img {
    border-radius: 50%;
    background: #ddd;
}
.profile .status {
    width: 10px;
    height: 10px;
    background: #4caf50;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Welcome */
.welcome {
    margin: 30px 0;
}

.welcome h1{
    font-size: 5rem;
    font-weight: 800;
    color: var(--header-text);
    text-align: center;
}
.welcome p {
    font-size: 1rem;
    color: var(--body-text);
    margin-top: 15px;
    margin-bottom: 40px;
}
.dashboard-layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Appointments */
.appointments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.card {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--card-border);
    box-shadow: 1px 3px 5px gray;
    margin-bottom: 10px;
    transition: all 0.3s;
    cursor: pointer;
    width: 70%;
}

.card1 {
    background-color: var(--input-border);
}
.card-header h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #000508;
    margin: 0 0 10px 0;
}
.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.card-info {
    flex: 1;
}

.card-info h3{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--body-text);
    margin-bottom: 5px;
}

.card-info p {
    font-size: 0.6rem;
    color: var(--body-text);
    margin-bottom: 10px;
}

.card .details {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--body-text);
}

.card .details p {
    margin-top: 10px;
}

.card button {
    background: transparent;
    border: 1px solid var(--card-border);
    color: var(--body-text);
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 6px 12px gray;
    background: #f9fcff;
}
.card button:hover {
    background: var(--hover);
    color: var(--button-text);
}
.divider {
    border-top: 1px solid #b5e6f7;
    margin: 5px 0;
}
/* Do you know */
.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}
.info-box {
    background: transparent;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--card-border);
    box-shadow: 1px 3px 5px gray;
    width: 70%;
}
.info-box h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--body-text);
    margin-bottom: 8px;
    text-align: center;
}
.info-box p {
    font-size: 0.8rem;
    color: var(--body-text);
    font-weight: 500;
}

/* Chat button */
.chat-buttons {
    position: fixed;
    bottom: 20px;
    right: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
    animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-20px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.chat-text-btn {
    background: var(--button);
    color: var(--button-text);
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 1px 3px 5px gray;
    cursor: pointer;
    transition: all 0.3 ease;
}

.chat-text-btn:hover {
background: var(--hover);
transform: translateY(-3px);
}

.chat-icon-btn {
    background: var(--button);
    color: var(--button-text);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 5px gray;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chat-icon-btn:hover {
    background: #b0b6b6;
    transform: translateY(-3px);
}

.chat-icon-btn i {
    font-size: 18px;
}

/* Mobile (< 780px) */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 7.5rem;
        padding: 40px 5px;
        text-align: center;
    }

    .logo {
        flex-direction: column;
        align-items: center;
        margin-right: 8px;
        gap: 5px;
        margin-bottom: 80px;
    }

    .logo-text {
        font-size: 1rem;
    }

    .logo img {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: none;
    }

    .sidebar .nav-links a,
    .sidebar .sidebar-bottom a {
        width: 5rem;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    .dashboard-layout {
        flex-direction: column;
    }

    .info-boxes {
        grid-template-columns: 1fr;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 15px ;
    }

    .header-buttons {
        justify-content: center;
        gap: 30px;
    }

    .search-container {
        max-width: 80px;
        max-height: 30px;
        margin-left: 3px;
    }

    .search-container i {
        font-size: 0.6rem;
    }

    .search-container input {
        width: 50px;
        height: 20px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    #notification-box {
        width: 90%;
        right: 5%;
    }
    .card {
        padding: 10px;
    }

    .profile {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .welcome, .dashboard-layout {
        margin-left: 20px;
    }

}

@media (max-width: 480px) {
    .header-buttons {
        gap: 10px;
    }

}