:root {
  --side-menu: #11ade6;
  --background: #e7f7fd;
  --header-text: #000608;
  --body-text: #000608;
  --button-text: #e6e7e7;
  --button: #11ade6;
  --border: #93aab2;
  --input-field: #b5e6f7;
  --error: #e84c3d;
  --success: #2dcc70;
  --hover: #b0b6b6;
}


* {
    box-sizing: border-box;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
}


.dashboard-container {
    display: flex;
    height: 100vh;
    animation: fadeIn 0.9s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar {
    position: relative;
    width: 14.75rem;
    background-color: var(--side-menu);
    color: var(--button-text);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    z-index: 10;
    transform: translateX(-100%);
    animation: slideIn 1.1s ease forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    gap: 8px;
    margin-bottom: 50px;
    margin-left: 30px;
    cursor: pointer;
    color: var(--background);
}

.sidebar .logo img {
    border-radius: 0;
  }

.menu a {
    text-decoration: none;
    color: var(--button-text);
    padding: 15px 10px;
    display: flex;
    margin-bottom: 8px;
    margin-left: 30px;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s, padding-left 0.3s;
}

.menu a:hover, .menu a:active {
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    border-radius: 8px;
}

.menu .active{
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 30px;
    border-radius: 8px;
}

.menu a i {
    margin-right: 10px;
}

.move-down {
  margin-top: 100px;
}


/* Main Content */
.main-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #b0b5b6;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--button);
  max-width: 150px;  
  margin-left: 50px;
  height: 40px;
}

.search-bar i {
  color: #666;
  margin-right: 8px;
  font-size: 0.9rem;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.9rem;
  width: 100%;
}

.nav-links button {
    font-size: 1em;
    margin-right: 40px;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    background-color: var(--button);
    color: var(--button-text);
    cursor: pointer;
}

.nav-links i {
    font-size: 1.2rem;
    padding: 10px 14px;
    border-radius: 45%;
    margin: auto 40px;
    background-color: var(--button);
    color: var(--button-text);
}

.user-info {
      display: flex;
      align-items: center;
}

.user-info img {
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 26px;
  right: 180px;
}

.user-text {
  margin-right: 40px;
}

.user-text span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #095f7f;
}

/* Welcome */
.main h1 {
    color: var(--header-text);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8px;
}

.main p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--body-text);
    margin-bottom: 15px;
}


/* Departments */
.departments {
    margin: 30px 0;
}


.departments h2 {
    margin-bottom: 30px;
}

.department-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    z-index: 1;
    
}

.dept {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce1 8s ease-in-out infinite;
}


@keyframes bounce1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.dept .dept-icon {
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: 1px 3px 5px gray;
    padding: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in;
    overflow: visible;
}

.dept-icon img{
  border-radius: none;
}

.dept .dept-icon:hover {
  transform: scale(1.2)
}

.dept span {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* Book Button */
.book-btn {
  width: 31.25rem;
  margin-top: 40px;
  padding: 10px;
  background-color: var(--button);
  color: var(--button-text);
  border: 1px solid var(--border);
  box-shadow: 1px 3px 5px gray;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

button:hover {
  background-color: var(--hover);
  color: var(--body-text);
}

button:active {
  background-color: var(--success);
}


/* screen department*/

.container {
    padding: 40px 100px 60px 100px;
    text-align: center;
    animation: fadeIn 0.9s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo-dept {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #095f7f;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    text-decoration: none;
    background-color: var(--button);
    padding: 8px 16px;
    border-radius: 50px;
    color: var(--button-text);
    font-size: 0.9em;
}

.nav-btn:hover {
    background-color: var(--hover) ;
    color: var(--body-text);
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile img {
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
    font-size: 0.8em;
}

.name {
    margin: 0;
    font-weight: bold;
    color:#095f7f;
}

.email {
    margin: 0;
    color:#095f7f;
}

/* Main Content */
.main {
    margin-left: 30px;
}

.label, .user-details {
    display: block;
    margin-top: 35px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
    text-align: left;
}

.dropdown {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 100px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--background);
    box-shadow: 1px 3px 5px gray;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.nav i {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 45%;
    margin: auto 30px;
    background-color: var(--button);
    color: var(--button-text);
}

.main h2 {
  font-size: 2rem;
}

.main div {
  font-weight: 500;
}

.main h2, .main div {
  margin-bottom: 20px;
  text-align: left;
}

.next-btn {
  margin: 20px auto;
}

.date-dropdown, .time-dropdown {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--background);
    color:#095F7F;
    box-shadow: 1px 3px 5px gray;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.next-btn {
  width: 31.25rem;
  margin-top: 40px;
  padding: 10px;
  background-color: var(--button);
  color: var(--button-text);
  border: 1px solid var(--border);
  box-shadow: 1px 3px 5px gray;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

/* confirm page */

.appointment-details {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: left;
}


.avatar-large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border, #ccc);
}


.user-info {
    display: inline-block;
    align-items: left;
    gap: 15px;
    margin-bottom: 15px;
}

.user-details p {
  text-align: left;
  font-size: 1.3rem;
}


.avatar-large {
    border-radius: 50%;
    width: 100px;
    height:100px;
}

.user-name {
    font-size: 1.3em;
    font-weight: bold;
}

.user-info-img {
  display: flex;
  align-items: center;
}

.reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 1050px;
}


.reminder-icon {
    font-size: 1.8em;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-top: 8px;      
  cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

hr {
  border: var(--border) solid 2px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-btn, .confirm-btn, .contact-btn, .retry-btn {
    color: var(--button-text);
    padding: 12px 40px;
    border: 1px solid var(--border);
    box-shadow: 1px 3px 5px gray;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
}

.confirm-btn {
  background-color: var(--button);
  font-size: 1.1rem;
  font-weight: bold;
}

.cancel-btn {
  background-color: var(--error);
  font-size: 1.1rem;
  font-weight: bold;
}

.main-success, .main-error {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  min-height: 50vh;       
  text-align: center;
}

.success-icon {
    font-size: 9rem;         
    color: var(--success);
    margin-bottom: 20px;
}

.success-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--body-text);
}

.error-text {
  color: var(--body-text);
  font-weight: bold;
  margin-bottom: 20px;
}

.error-icon {
  font-size: 9rem;         
    color: var(--error);
    margin-bottom: 8px;
}

.retry-btn {
  background-color: var(--success);
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-btn {
  background-color: var(--button);
  font-size: 1.1rem;
  font-weight: bold;
}

.error-button-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
} 

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 7.5rem;
    padding: 40px 5px;
    text-align: center;
  }

  .sidebar .logo {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    gap: 5px;
    margin-bottom: 80px;
  }

  .sidebar .logo img {
    width: 1.25rem;
    border-radius: none;
  }

  .menu a {
    width: 5rem;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .menu .move-down {
    margin-top: 140px;
  }

  .menu i {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }

  
  .main-content {
    margin-left: 30px; 
    padding: 5px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 15px ;
  }

  .search-bar {
    max-width: 50px;
    max-height: 30px;
    margin-left: 3px;
  }

  .search-bar i {
    font-size: 0.6rem;
  }

  .search-bar input {
    width: 10px;
    height: 20px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .nav-links button {
    font-size: 0.8em;
    padding: 7px 10px;
    gap: 5px;
  }

  .nav-links i {
    font-size: 0.8em;
    padding: 8px 13px;
    margin: auto 20px;
  }

  .user-info img {
  position: absolute;
  top: 40px;
  right: 160px;
  width: 2.188rem;
  }

  .user-text {
  position: absolute;
  top: 43px;
  right: 10px;
  }

  .department-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 15px;
  }


  .dept .dept-icon {
    margin-bottom: 10px;
  }

  .dept span {
    font-size: 0.85rem;
    font-weight: 500;
  }


  .book-btn {
    width: 15.625rem;
    padding: 14px;
    font-size: 1rem;
    margin-top: 30px;
    border-radius: 10px;
  }

  .container {
    padding: 20px;
  }

  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .logo-dept {
    font-size: 1rem;
    margin-left: 10px;
    text-align: center;
  }

  .logo-dept img {
    width: 2.188rem;
  }

  .disable {
  display: none;
  }

  .nav-btn {
    padding: 7px 10px;
  }

  .nav i {
    margin: 2px;
    padding: 8px;
  }

  .profile img {
    width: 2.188rem;
    margin-right: 5px;
  }

  .profile-info {
    font-weight: bold;
  }

  .email {
    display: none;
  }

  .name {
    font-size: 0.8rem;
  }

  .main h2 {
    margin-bottom: 70px;
  }

  .main div {
    margin-bottom: 80px;
  }

  .dropdown {
    margin-bottom: 200px;
  }

  .next-btn {
  width: 16.625rem;
  margin-top: 100px;
  }

  .button-group {
    margin-top: 50px;
  }

  .reminder {
  position: absolute;
  top: 270px;
  left: 310px;
  }
}



/* Extra small screens (phones <480px) */
@media (max-width: 480px) {

  .department-icons {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-links button {
    margin-right: 20px;
  }
  
}
