:root {
  --background-color: #e7f7fd;
  --side-menu: #11ade6;
  --slide-menu-color: #ffffff;
  --background-color-buttons: #11ade6;
  --border: #b5e6f7;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Poppins;
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: flex-start;
  border: 3px solid var(--border);
  background-color: var(--slide-menu-color);
  border-radius: 20px;
  box-shadow: 3px 4px 8px;
}

.header h1 {
  padding: 10px;
  padding-left: 100px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: flex-start;
  border: 3px solid var(--border);
  background-color: var(--slide-menu-color);
  border-radius: 20px;
  box-shadow: 3px 4px 8px;
}

.card img {
  margin: 10px 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

p {
  font-size: 20px;
  font-weight: bold;
}



.icon {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 80px;
  align-items: center;
  margin: 30px;
  font-size: 30px;
  color: var(--side-menu);
  cursor:pointer;
}
